.navbar{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #0a192fa7;
    backdrop-filter: blur(5px);
    @media screen and (max-width: 700px) {
        height: 10vh;
    }
    .navbar__container{
        width: 90%;
        color: white;
        height: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .left__container{
            .logo{
                aspect-ratio: 1;
                height: 50px;
                @media screen and (max-width: 700px) {
                    height: 5vh;
                }
            }
        }
        .hamburger__icon{
            @media screen and (max-width: 700px){
                display: flex;
            }
            display: none;
            .icon{
                color: #64FFDA;
                font-size: 30px;
            }
        }
        .right__container{
            @media screen and (max-width: 700px){
                display: none;
            }
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 40px;
            .link{
                display: flex;
                flex-direction: row;
                gap: 5px;
                font-size: 14px;
                cursor: pointer;
                .count{
                    color: #64FFDA;
                }
                .text{
                    color: #CCD6F6;
                    font-weight: 400;
                    transition: 0.4s;
                    font-family: 'Roboto Mono', monospace;
                    &:hover{
                        color: #64FFDA;
                    }
                    &:not(:hover){
                        transition: 0.4s;
                    }
                }
            }
            .resume__button{
                background-color: inherit;
                padding: 10px 20px;
                border: 1px solid #64FFDA;
                border-radius: 5px;
                color: #64FFDA;
                font-weight: 500;
                cursor: pointer;
                transition: 0.5s;
                &:hover{
                    background-color: #64ffdb27;
                }
                &:not(:hover){
                    transition: 0.5s;
                }
            }
        }
    }
}