.section3{
    height: fit-content;
    width: 70%;
    //background-color: rgba(240, 59, 129, 0.233);
    display: flex;
    flex-direction: column;
    cursor: default;
    

    @media screen and (max-width: 700px){
        //gap: 10px;
        width: 85%;
        //margin-bottom: 10vh;
        align-items: center;
        //background-color: rgba(115, 240, 84, 0.353);  
    }
    @media screen and (min-width: 1000px){
        width: 60%;
        margin-bottom: 20vh;
        //background-color: rgba(236, 161, 71, 0.337);     
    }
    @media screen and (min-width: 700px){
        margin-top: 30vh;
        //background-color: rgba(236, 161, 71, 0.337);     
    }
    .title{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10vh;
        

        .number{
            color: #64FFDA;
            font-family: 'Roboto Mono', monospace;
            font-size: 22px;
            margin-right: 5px;
            @media screen and (max-width: 700px){
                font-size: 4.5vw;
            }
        }
        .title__text{
            color: #CCD6F6;
            font-size: 2vw;
            font-weight: 600;
            margin-right: 20px;
            @media screen and (max-width: 1000px){
                font-size: 3vw;
            }
            @media screen and (max-width: 700px){
                font-size: 5vw;
            }
        }
        .line{
            height: 0.1px;
            background-color: #9fa9c953;
            width: 34%;
            @media screen and (max-width: 1000px){
                width: 80%;
            }
            @media screen and (min-width: 700px){
                width: 35%;
            }
            @media screen and (max-width: 700px){
                display: none;
            }
        }
    }
    .content{
        //background-color: rgba(240, 128, 128, 0.497);
        @media screen and (max-width: 700px){
            flex-direction: column;
            width: 95%;
            //margin-bottom: 10vh;
            //background-color: rgba(115, 240, 84, 0.353);  
        }
        .project{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20vh;
            @media screen and (max-width: 700px){
                flex-direction: column;
                margin-bottom: 20vh;
            }
            .left__container{
                .laptop{
                    width: 36vw;
                    border-radius: 5px;
                    @media screen and (max-width: 700px){
                        width: 100%;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
            }
            .right__container{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                //background-color: rgba(173, 216, 230, 0.326);
                .featured__text{
                    color: #64FFDA;
                    font-family: 'Roboto Mono', monospace;
                    margin-bottom: 5px;
                    font-size: 1vw;
                }
                .project__text{
                    font-size: 2.5vw;
                    font-weight: 600;
                    color: #CCD6F6;
                    margin-bottom: 30px;
                }
                .project__desc{
                    background-color: #112240;
                    color: #b0beebe1;
                    text-align: end;
                    padding: 2.5vh 1.5vw 2.5vh 4vw;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    font-size: 1vw;
                    @media screen and (min-width: 700px){
                        -webkit-box-shadow: 5px 5px 10px -2px rgba(38,37,38,1);
                        -moz-box-shadow: 5px 5px 10px -2px rgba(38,37,38,1);
                        box-shadow: 5px 5px 10px -2px rgba(38,37,38,1);
                        padding: 1.6vh 1.5vw 1.6vh 4vw;
                        line-height: 1.8vw;
                        width: 110%;
                    }
                }
                .tools{
                    display: flex;
                    flex-direction: row;
                    gap: 40px;
                    margin-top: 1vw;
                    .tool{
                        color: #64FFDA;
                        font-family: 'Roboto Mono', monospace;
                        font-size: 0.9vw;
                    }
                }
                .links{
                    color: #babfcd;
                    cursor: pointer;
                    margin-top: 1vw;
                    &:hover{
                        color: #64FFDA;
                        transition: 0.8s;
                    }
                    &:not(:hover){
                        transition: 0.8s;
                    }
                }
            }
            @media screen and (max-width: 700px){
                background-color: rgba(86, 86, 86, 0.353);
                @media screen and (max-width: 700px){
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    margin-bottom: 20vh;
                }
                .right__container{
                    padding: 5vw;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    .featured__text{
                        font-size: 2vw;
                    }
                    .project__text{
                        font-size: 5vw;
                        margin-bottom: 10px;
                    }
                    .project__desc{
                        background-color: inherit;
                        padding: 0;
                        width: fit-content;
                        text-align: start;
                        font-size: 2vw;
                        line-height: 3vw;
                    }
                    .tools{
                        .tool{
                            font-size: 2vw;
                        }    
                        margin-bottom: 2vw;
                    }
                }
            }
        }
    }
    
}